<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Paul and Em's Amazing Team</title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
    <h1><%=@team_name%></h1>
    <table>

     <% @team_players.each do |player| %>
      <tr>
          <td><%= player["first_name"] %> <%= player["last_name"] %></td>
          <td><%= player["position"] %> </td>
      </tr>

     <%end%>

   </table>

   <p><a href='/'>All Teams</a>

  </body>
</html>
